@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet');
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .main-navigation div {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.hero-banner {
  background-image: url(../img/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: #fff; }
  .hero-banner .logo {
    font-size: 5rem; }
  .hero-banner h3 {
    font-size: 3.375rem;
    font-weight: 300;
    text-transform: uppercase; }
  .hero-banner .logo,
  .hero-banner h3 {
    text-shadow: 0px 3.94946px 3.94946px rgba(0, 0, 0, 0.25);
    margin: 0; }

.centered {
  text-align: center; }

textarea,
input[type=text],
input[type=email] {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-style: italic; }

img {
  width: 100%; }

.img-round {
  border-radius: 10rem;
  border: 1px solid #000; }

.logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  text-transform: uppercase; }
  .logo span {
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }

h2 {
  text-align: center; }

body {
  font-family: "Roboto", sans-serif; }

.row {
  margin: 6rem 0; }

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 1rem 2rem; }

.line {
  height: 1px;
  width: 100%;
  background-color: #000;
  margin-bottom: 5rem; }

.btn {
  padding: 1rem 2rem;
  background-color: #E05127;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.5s linear; }

.btn:hover {
  background-color: #ED7B30;
  transition: 0.5s linear;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=main.css.map */
