.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hero-banner{
    background-image: url(../img/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: $white;
    .logo{
        font-size: 5rem;
    }
    h3{
        font-size: 3.375rem;
        font-weight: $light;
        text-transform: $upper;
    }
    .logo,
    h3{
        text-shadow: 0px 3.94946px 3.94946px rgba(0, 0, 0, 0.25);
        margin: 0;
    }
}