body{
    font-family: $roboto;
}

.row{
    margin: 6rem 0;
}

a{
    text-decoration: none;
    color: $black;
    text-transform: $upper;
    padding: 1rem 2rem;
}

.line{
    height: 1px;
    width: 100%;
    background-color: $black;
    margin-bottom: 5rem;
}