.btn{
    padding: 1rem 2rem;
    background-color: $red;
    color: $white;
    border-radius: 0.5rem;
    border: none;
    font-size: 12px;
    text-transform: $upper;
    transition: 0.5s linear;
}

.btn:hover{
    background-color: $orange;
    transition: 0.5s linear;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}